<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error Page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="errorContainer containerMaxWidth flex">
        <img class="errorImg" alt="shelf with stacked terra cotta pots" src="/images/emptyPots.jpg">
        <h1>Oops!</h1>
        <h2>Something went wrong!</h2>
        <p><%= msg %></p>
        <a class="errorBackBtn" href="/">Go Back</a>
    </div>
</body>
</html>