<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sprout</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <% if (user) { %>
        <h1>Sprout</h1>
        <p>A seed collection app for gardeners</p>
        <a href="/users/<%= user._id %>/plants">View My Plants</a>
    <% } else { %>
        <h1>Sprout</h1>
        <p>A seed collection app for gardeners</p>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% }%>
</body>
</html>