<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sprout</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="homeContainer containerMaxWidth flex">
        <% if (typeof message !== 'undefined') { %>
            <div class="flashMessage">
                <p><%= message %></p>
            </div>
        <% } %>
        <img alt="plant sprouts growing inside a cardboard seed tray" src="../images/sprouts.jpg" class="homeImg">
        <div class="homeTextContainer flex">
            <% if (user) { %>
                <h1>Sprout</h1>
                <p>A seed collection app for gardeners</p>
                <a href="/users/<%= user._id %>/plants">View My Plants</a>
            <% } else { %>
                <h1>Sprout</h1>
                <p>A seed collection app for gardeners</p>
                <div class="homeBtnContainer flex">
                    <a href="/auth/sign-up" class="linkBtn">Sign Up</a>
                    <a href="/auth/sign-in" class="linkBtn signInBtn">Sign In</a>
                </div>
            <% }%>
        </div>
    </div>
</body>
</html>