@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap');

:root {
    /* Colors */
    --clr-dark: #2a4c4e;
    --clr-medium: #dde469;
    --clr-light: #eee8ce;
    --clr-accentOne: #c8d9f5;
    --clr-accentTwo: #cc88ff;

    /* Font Families */
    --ff-heading: 'Lilita One', sans-serif;
    --ff-body: 'Libre Franklin', serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
    color: var(--clr-dark);
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.containerMaxWidth {
    --max-width: 1110px;
    --container-padding: 1.5rem;
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}
.flex {
    display: flex;
}


/* HOMEPAGE */

h1 {
    font-family: var(--ff-heading);
}

.homeContainer {
    min-height: 90vh;
}

.homeImg {
    border: 0.3125rem solid var(--clr-accentTwo);
    border-radius: 50%;
    object-fit: cover;
}

.homeTextContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkBtn {
    background-color: var(--clr-accentOne);
    padding: 0.5rem 3.125rem;
    border-radius: 1.25rem;
}
.linkBtn:hover {
    background-color: #cc88ff;
}
.homeBtnContainer {
    gap: 1.875rem;
}
.homeBtnContainer a {
    color: var(--clr-dark);
}
.signInBtn {
    background-color: transparent;
    border: 0.0625rem solid var(--clr-accentOne);
}
.signInBtn:hover {
    background-color: var(--clr-medium);
}

/* Forms */
form {
    flex-direction: column;
    gap: 0.75rem;
}

input {
    border: 0.0625rem solid var(--clr-dark);
    border-radius: 1.25rem;
    padding: 0.5rem 1.25rem;
    width: 15.625rem;
}

input:focus {
    outline: none;
    border: 0.0625rem solid var(--clr-accentTwo);
}

/* Sign Up/Sign In */
.authContainer {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2.5rem;
   height: 90vh;
}

.authBtn {
    background-color: var(--clr-accentOne);
    border-radius: 1.25rem;
    border: none;
    padding: 0.625rem;
    margin-top: 1.25rem;
}

.authBtn:hover {
    background-color: var(--clr-medium);
}

/* Plants Index  */
.plantIdx {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.plantCardContainer {
    flex-wrap: wrap;
}
.card {
    border-radius: 10px;
    width: 152px;
    height: 202px;
}
.card:hover {
    box-shadow: 0 4px 0 rgba(42, 76, 78, 0.6), 0 6px 20px 0 rgba(42, 76, 78, 0.5);
}
.plantImg {
    height: 10rem;
}
.plantImg img {
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.plantText {
    background-color: var(--clr-medium);
    border-radius: 0 0 10px 10px;
    padding: 12px;
    text-align: center;
}
.plantText a {
    color: var(--clr-dark);
}
.newBtn {
    background-color: var(--clr-accentOne);
    border-radius: 1.25rem;
    transition: 0.4s;
}
.newBtn:hover {
    background-color: var(--clr-accentTwo);
}

/* ------------------*/
/* Media Queries     */
/* ------------------*/

@media (max-width: 659px) {
    .homeContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }
    .homeTextContainer {
        gap: 1.875rem;
    }
    .homeImg {
        width: 60%;
        aspect-ratio: 1;
    }
    .homeBtnContainer {
        flex-direction: column;
        gap: 1.875rem;
    }
    .plantIdx {
        margin-top: 20px;
    }
    .plantIdxHeading {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }
    .plantCardContainer {
        justify-content: center;
        width: 60%;
        gap: 40px;
    }
    .newBtn {
        font-size: 12px;
        padding: 5px 25px;
    }
}

@media (min-width: 660px) {
    .homeContainer {
        justify-content: space-evenly;
        align-items: center;
    }
    .homeImg {
        width: 15.625rem;
        aspect-ratio: 1;
    }
    .homeTextContainer {
        gap: 2.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    .plantIdx {
        margin-top: 50px;
    }
    .plantIdxHeading {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .plantCardContainer {
        gap: 20px;
    }
    .newBtn {
        padding: 8px 30px;
    }
}